<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head.ejs") %>
    <link href="/css/styles_productCart.css" rel="stylesheet">
</head>

<body>
  <%- include("../partials/header.ejs") %>
    <main>
      <h3 class="headlines">Tu carrito</h3>
      <section class="margin-sections">
        <section class="section-productos">
          <% for(let finalProduct of finalProducts) { %>
            <div class="contenedor-producto">
              <div>
                <a href="./products/details/<%= finalProduct.products.id %>"><img
                    src="/images/productos/<%= finalProduct.products.product_image %>" class="w-100"
                    alt="Trailers" /></a>
              </div>
              <div>
                <h2 class="subs centrado margin-10">
                  <%= finalProduct.products.name %>
                </h2>
                <p class="centrado">
                  <%= finalProduct.products.price %>
                </p>
                <p class="centrado">
                  <%= finalProduct.product_colors.name %>
                </p>
                <p class="centrado">
                  <%= finalProduct.memories.memory %>
                </p>
              </div>
            </div>
            <% } %>
        </section>
      </section>
    </main>

    <%- include("../partials/footer.ejs") %>

</body>

</html>