<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head.ejs") %>
        <link href="/css/styles_register.css" rel="stylesheet" />
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main>

            <% if(locals.errors) { %>
                <% errors.forEach(error=> { %>
                    <p>
                        <%= error.msg %>
                    </p>
                    <% }) %>
                        <% } %>
                            <form action="./" method="POST" class="registration" enctype="multipart/form-data">
                                <div class="container">
                                    <h2 class="headlines">Registrate</h2>
                                    <div class="wrapper">
                                        <section class="user-reg">
                                            <div>
                                                <label for="mail">Correo Electronico</label>
                                                <input type="email" id="mail" name="mail"
                                                    placeholder="Ingresa tu correo electronico" value=<%=locals.old &&
                                                    old.mail ? old.mail : " " %> >
                                            </div>
                                            <div>
                                                <label for="user_name">Nombre de Usuario</label>
                                                <input type="text" id="user_name" name="user_name"
                                                    placeholder="Ingresa tu nombre de usuario" value=<%=locals.old &&
                                                    old.user_name ? old.user_name : " " %> >
                                            </div>
                                            <div>
                                                <label for="address">Domicilio</label>
                                                <input type="text" id="address" name="address"
                                                    placeholder="Ingresa tu nombre de usuario" value=<%=locals.old &&
                                                    old.address ? old.address : " " %> >
                                            </div>
                                            <div>
                                                <label for="user_image">Elegi tu foto de perfil</label>
                                                <input type="file" id="user_image" name="user_image" accept="image/*">
                                            </div>

                                            <div>
                                                <label for="password">Contrase単a</label>
                                                <input type="password" name="password" id="password"
                                                    placeholder="Ingresa tu contrase単a">
                                            </div>
                                            <div>
                                                <label for="confirmPassword">Repetir Contrase単a</label>
                                                <input type="password" name="confirmPassword" id="confirmPassword"
                                                    placeholder="Repeti la contrase単a ingresada">
                                            </div>
                                        </section>
                                        <section class="reg-botones">
                                            <button type="sumbit" class="boton">Enviar informacion</button>
                                            <button type="reset" class="boton">Borrar informacion</button>
                                        </section>
                                        </section>
                                    </div>
                                </div>
                            </form>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>

</html>